
    <div class="contentModalWindow">
       <form name="FormWindow" action="{{ path('recursovehiculosubmitupdate', {'idrecurso': idRecurso}) }}" method="post" {{ form_enctype(form) }}> 
           <div id="form">
           <div class="row" >
               <div class="col-sm-6 col-lg-4 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.tipogruporecurso) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.tipogruporecurso, {'attr':{'ng-model':'centro.tipoGrupoRecurso'}}) }}
                       </div>
                   </div>
               </div>
               <div class="col-sm-6 col-lg-4 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.clasetipo) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.clasetipo, {'attr':{'ng-model':'centro.clasetipo'}}) }}
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-lg-4 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.claserecurso) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.claserecurso, {'attr':{'ng-model':'centro.claseRecurso'}}) }}
                       </div>
                   </div>
               </div>
               <div class="col-sm-6 col-lg-4 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.patente) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.patente, {'attr':{'ng-model':'centro.patente'}}) }}
                       </div>
                   </div>
               </div>
               <div class="col-sm-6 col-lg-4 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.tipovehiculo) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.tipovehiculo, {'attr':{'ng-model':'centro.tipovehiculo'}}) }}
                       </div>
                   </div>
               </div>              

               <div class="col-sm-6 col-lg-4 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.regimen) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.regimen, {'attr':{'ng-model':'centro.regimen'}}) }}
                       </div>
                   </div>
               </div>              
               <div class="col-sm-6 col-lg-4 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.estado) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.estado, {'attr':{'ng-model':'centro.estado'}}) }}
                       </div>
                   </div>
               </div>              
           
           </div>


             <div><input type="submit" value="Guardar"></div>
          {{ form_row(form._token) }}
        </div>
       </form>
       <div class="mensajeError" id="mensajeError"></div>

    </div>

    <script src="{{ asset('js/detallesrecursos.js') }}"></script>
    
    <script type="text/javascript">
     
        
        function getClasesRecursos()
        {
            var data = {
                tipogruporecurso_id: $('#recurso_tipogruporecurso').val(),
                clasetipo: $("input:radio[name='recurso[clasetipo]']:checked").val()
                //clasetipo: $('#recurso_clasetipo').val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("select_claserecurso") }}',
                data: data,
                success: function(data) {
                    var $clase_selector = $('#recurso_claserecurso');

                    $clase_selector.html('<option>Clase</option>');

                    var myArray = jQuery.parseJSON(data);
                    for (var i=0, total = myArray.length; i < total; i++) {
                        $clase_selector.append('<option value="' + myArray[i].id + '">' + myArray[i].descripcion + '</option>');
                    }
                }
            });
            
        }
    
    
        $(function(){
        
        // El recurso tiene sus propios eventos para recargar el grid dinámicamente
        //fireFormEvents();
        /*$("#recurso_tipogruporecurso").change(function(){
                getClasesRecursos();
        });  
            $("#recurso_clasetipo").change(function(){
                getClasesRecursos();
        }); */
        
        $("#recurso_tipogruporecurso").click(function(e){
                e.preventDefault();
                $(this).blur();
        });  


        $("#recurso_clasetipo input:radio").click(function(e){
                e.preventDefault();
                $(this).blur();
        });  
    
    });
    </script>


