{# app/Resources/views/gridGenerico.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/ABrown.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/jqwidgets/styles/jqx.base.css') }}" rel="stylesheet" />
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />


{% endblock %}


  {% block header %} 
   {{ include('menu/mainMenu.html.twig')}}
{% endblock %}

{% block body %}

    <div class ="tituloGrid">
        <h4 style="padding:10px">Planilla servicios</h4>
    </div>
    <div>    

    <div class="contentModalWindow">
       <form name="FormWindow" action="{{ path('planillaServicios')}}" method="post" {{ form_enctype(form) }}> 
           <div id="form">
           <div class="row" >
               <div class="col-sm-6 col-lg-6 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.desde) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.desde) }}
                       </div>
                   </div>
               </div>
               <div class="col-sm-6 col-lg-6 formGroup">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.hasta) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.hasta) }}
                       </div>
                   </div>
               </div>
           </div>
                   
           <div class="row" >
                       
               <div class="col-sm-6 col-lg-6 formGroup" style="margin-top:10px">
                   <div class="form-group">
                       <label class="col-md-4 col-sm-4 col-xs-4 control-label"> {{ form_label(form.tipoServicio) }} </label>
                       <div class="col-md-8 col-sm-8 col-xs-8">
                           {{ form_widget(form.tipoServicio) }}
                       </div>
                   </div>
               </div>              
            </div>


             <div style="float:right; margin-right:20px;"><input type="submit" id="idButtonSend" value="Generar informe"></div>
          {{ form_row(form._token) }}
        </div>
       </form>
       <div class="mensajeError" id="mensajeError"></div>

    </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script>
    $(document).ready(function(){
        $('#idButtonSend').click(function() {
            $('#mensajeError').html('Documento generado');
        })
        //fireFormEvents();
    });
    </script>

{% endblock %}




